@import '@/styles/variables.scss';

.header {
  background-color: var(--primary-color);
  box-sizing: border-box;
  border-bottom: 1px solid var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 1;

  @include respond-to(desktop) {
    padding: pxToVw(16px) 0;
  }

  @include respond-to(tablet) {
    padding: pxToVw(16px, tablet) 0;
  }

  @include respond-to(mobile) {
    padding: pxToVw(16px, mobile) 0;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .author {
      color: var(--secondary-color);
      text-decoration: none;
      text-transform: uppercase;

      @include respond-to(desktop) {
        font-size: pxToVw(14px);
      }

      @include respond-to(tablet) {
        font-size: pxToVw(14px, tablet);
      }

      @include respond-to(mobile) {
        font-size: pxToVw(14px, mobile);
      }
    }

    .navList {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      @include respond-to(desktop) {
        gap: pxToVw(16px);
      }

      @include respond-to(tablet) {
        gap: pxToVw(16px, tablet);
      }

      @include respond-to(mobile) {
        gap: pxToVw(16px, mobile);
      }

      .navItem {
        .link {
          display: block;
          font-weight: 400;
          color: var(--tertiary-color);
          box-sizing: border-box;
          text-decoration: none;
          transition: var(--transition);

          &:hover {
            color: var(--secondary-color);
            filter: drop-shadow(0 0 10px var(--secondary-color));
          }

          @include respond-to(desktop) {
            font-size: pxToVw(16px);
          }

          @include respond-to(tablet) {
            font-size: pxToVw(16px, tablet);
          }

          @include respond-to(mobile) {
            font-size: pxToVw(16px, mobile);
          }
        }
      }
    }
  }
}
