@import '@/scss/shared/variables.scss';

.root-layout-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--white);

  @include respond-to('lg') {
    grid-template-columns: auto 1fr;
  }
}
