@import '@/scss/shared/variables.scss';

.navigation {
  width: 100%;
}

.navigation-list {
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;

  & > li:not(:last-child) {
    border-bottom: 1px solid var(--grey-200);

    a {
      text-decoration: none;
    }
  }
}

.navigation-list-item {
  @include flex-row-space-between;
  @include subtitle;
  padding: pxScale(2);
}

.navigation-list-link__index {
  @include caption;
  color: var(--grey-300);
  font-weight: 300;
}
