@import '@/scss/shared/variables.scss';

.button {
  @include flex-center;
  padding: pxScale(1);
  background-color: var(--white);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: pxScale(0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    background-color: var(--grey-100);
    transform: scale(0.95);
  }

  &:hover {
    &:active {
      transform: scale(0.95);
    }
  }

  &:focus {
    outline: none;
  }
}
