@import '@/styles/variables.scss';

.section {
  position: relative;
  color: var(--secondary-color);

  .title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;

    @include respond-to(desktop) {
      font-size: pxToVw(48px);
      margin-top: pxToVw(64px);
      margin-bottom: pxToVw(32px);
    }

    @include respond-to(tablet) {
      font-size: pxToVw(48px, tablet);
      margin-top: pxToVw(64px, tablet);
      margin-bottom: pxToVw(32px, tablet);
    }

    @include respond-to(mobile) {
      font-size: pxToVw(48px, mobile);
      margin-top: pxToVw(64px, mobile);
      margin-bottom: pxToVw(32px, mobile);
    }
  }
}
