@import '@/scss/shared/variables.scss';

.title {
  @include title;
  font-weight: 400;
}

.subtitle {
  @include subtitle;
  font-weight: 300;
}

.scroll-to-next-section-button {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 10%;
  width: pxScale(10);
  height: pxScale(10);
  border-radius: 50%;
  font-size: 2rem;
}
