@import '@/styles/variables.scss';

.subTitle {
  font-weight: 500;
  line-height: 1.5;
  color: var(--tertiary-color);
  margin: 0;

  @include respond-to(desktop) {
    font-size: pxToVw(24px);
  }

  @include respond-to(tablet) {
    font-size: pxToVw(20px, tablet);
  }

  @include respond-to(mobile) {
    font-size: pxToVw(16px, mobile);
  }
}
