@import '@/scss/shared/variables.scss';

.social-links {
  box-sizing: border-box;
  @include flex-start;
  list-style: none;
  flex-wrap: wrap;
  gap: pxScale(2);
  @include body;
  width: 100%;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }

  svg {
    width: pxScale(2);
    height: pxScale(2);

    path {
      fill: var(--grey-300);
    }
  }

  &__item {
    @include flex-column-center;
    @include caption;
    gap: pxScale(1);
    width: pxScale(8);
    height: pxScale(8);
    text-transform: uppercase;

    &:hover {
      transform: translate(-1px, -1px) scale(1.02);
      box-shadow: 0 pxScale(0.5) pxScale(1) var(--grey-200);

      svg {
        path {
          fill: var(--grey-600);
        }
      }
    }
  }
}
