@import '@/styles/variables.scss';

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include respond-to(desktop) {
    gap: pxToVw(24px);
    margin-top: pxToVw(60px);
  }

  @include respond-to(tablet) {
    gap: pxToVw(16px, tablet);
    margin-top: pxToVw(60px, tablet);
  }

  @include respond-to(mobile) {
    gap: pxToVw(8px, mobile);
    margin-top: pxToVw(60px, mobile);
    flex-direction: column;
  }
}
