@mixin theme-light {
  --white: #fff;
  --primary-color: #000;
  --secondary-color: #fff;
  --text-color: #000;

  --grey-100: #ecf0f1;
  --grey-200: #bdc3c7;
  --grey-300: #95a5a6;
  --grey-400: #7f8c8d;
  --grey-500: #34495e;
  --grey-600: #2c3e50;

  --primary-box-shadow: 0 10px 7px -5px var(--grey-300);
  --input-placeholder-color: var(--grey-600);
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --mobile-navigation-height: 64px;
}
